.container {
  width: 100%;
  height: 100px;
  padding: 6rem;
  background-color: #0dc279;
}

.content {
}

.content h1 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(31, 7, 43);
}

.image {
  width: 20%;
  height: 100px;
}
