.container {
  max-width: 1000px;
  margin: auto;
  padding: 5rem;
}

.title {
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
}

.name {
  font-style: 16px;
  color: green;
}

.cart {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1.5rem;
}

.card {
  padding: 1rem;
  background-color: #fff;
  color: green;
}
